# dependencies
node_modules/
node_modules.broken/
.pnpm-store/

# build artifacts
.turbo/
dist/
build/
coverage/
.next/
out/

# env files
.env
.env.local
.env.*.local
.env.production

# sensitive files
.ssh

# logs
*.log

# IDE
.idea/
.cursor/
