{
	email {$ACME_EMAIL}
}

{$APP_HOST} {
	encode gzip

	handle_path /api/* {
		reverse_proxy api:5000 {
			flush_interval -1
		}
	}

	handle {
		reverse_proxy web:3000
	}
}

{$API_HOST} {
	encode gzip
	reverse_proxy api:5000 {
		flush_interval -1
	}
}
